<template name="postPage">
  <div class="post-page page">

<!-- Show post name -->

{{> postItem}}

<!-- Show post details -->

<p class="postDetails">
        Details: {{> postDetails}}
</p>

<!--  Show comments -->

    <ul class="comments">
      {{#each comments}}
        {{> commentItem}}
      {{/each}}

    </ul>
  
    {{#if currentUser}}
      {{> commentSubmit}}

      {{> imageUpload}}
    {{else}}
      <p>Please log in to leave a comment or upload evidence.</p>
    {{/if}}
  </div>
</template>


