<template name="commentSubmit">
  <form name="comment" class="comment-form form">
    <div class="form-group {{errorClass 'body'}}">
        <div class="controls">
            <label for="body">Comment on this post</label>
            <textarea name="body" id="body" class="form-control" rows="3"></textarea>
            <span class="help-block">{{errorMessage 'body'}}</span>
        </div>
    </div>

    {{#if photo}}
    <div>
      <img width="20%" src={{photo}}  style="padding:20px;" />
    </div>
    {{/if}}
    <button type="submit" class="btn btn-primary">Add Comment</button>
    <!-- <button type="button" class="btn btn-primary">Upload Image</button> -->
    <!-- {{> imageSubmit}} -->
    <button type="click" class="addImage btn-link">Add Image</button>
    


    <!--<button type="click" class="btn btn-primary">Add Image</button>-->
  </form>
  
</template>

<template name="imageSubmit">
    <!-- can't delete - for some reason this is really important -->
</template>
