<template name="commentSubmit">
  <form name="comment" class="comment-form form">
    <div class="form-group {{errorClass 'body'}}">
        <div class="controls">
            <label for="body">Comment on this post</label>
            <textarea name="body" id="body" class="form-control" rows="3"></textarea>
            <span class="help-block">{{errorMessage 'body'}}</span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
    {{> imageSubmit}}


    <!--<button type="click" class="btn btn-primary">Add Image</button>-->
  </form>
  
</template>

<template name="imageSubmit">
    <button type="click" class="btn btn-primary">Add Image</button>
    {{#if photo}}
    <div>
      <img width="20%" src={{photo}}  style="padding:20px;" />
    </div>
    {{/if}}
  </template>


<template name="imageUpload">
<form>
  <input type="file" id="upload-image" class="file_bag" accept="image/*">
  <button type="submit">Click to upload</button>
  </form>
  </template>
